/* MENU BAR COLORS */
/* #202020; */

/* TEXT AREA BACKGROUND COLOR */
/* #272727 */

.menu-bar {
    -fx-background-color: #2b2b2b;
}

.menu .label {
    -fx-text-fill: white;
}

.menu:hover {
    -fx-background-color: #3a3a3a;
}

.context-menu {
    -fx-background-color: #3a3a3a;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, #272727, transparent, #272727;
    -fx-text-fill: white;
}

.text-area .content {
    -fx-background-color: transparent, #272727, transparent, #272727;
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-highlight-fill: #0082cf;
}

.text-area:focused .content {
    -fx-background-color: transparent, #272727, transparent, #272727;
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-highlight-fill: #0082cf;
}

.text-area:focused {
    -fx-highlight-fill: #0082cf;
}