/* MENU BAR COLORS */
/* #202020; */

/* TEXT AREA BACKGROUND COLOR */
/* #272727 */

.menu-bar {
    -fx-background-color: #2b2b2b;
    -fx-font-size: 14px;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: #535353;
}

.menu .label {
    -fx-text-fill: white;
}

.menu:hover,
.menu:focused {
    -fx-background-color: #3a3a3a;
}

.menu-item:focused {
    -fx-background-color: #535353;
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: #3a3a3a;
    -fx-font-size: 14px;
}

.context-menu .label {
    -fx-text-fill: white;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, #272727, transparent, #272727;
    -fx-text-fill: white;
}

.text-area .content {
    -fx-background-color: transparent, #272727, transparent, #272727;
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-highlight-fill: #0082cf;
}

.text-area:focused .content {
    -fx-background-color: transparent, #272727, transparent, #272727;
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-highlight-fill: #0082cf;
}

.text-area:focused {
    -fx-highlight-fill: #0082cf;
}